#issues {
    display: flex;
    justify-content: space-between;
}

#issues > div {
    width: 30%;
}

#issues h1 {
    text-align: center;
}

.issue div {
    display: flex;
}

.issue p {
    margin-right: 1em;
}